html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.42;
  font-weight: 500;
  margin: 0;
  color: #455a64;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

link{
  display: block;
}

* {
  box-sizing: border-box;
}

.admin {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
  flex: 1;
  background-color: rgba(#fff, .8);

  &:before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: url("~/img/bg/welcome.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}