.footer
    ul.footer__top
        li.footer__top-section.footer__left
            p.footer__left-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
        li.footer__top-section.footer__center
            nav.footer__navigation
                include ../common/navigation
            .footer__socials
                include ../common/socials
        li.footer__top-section.footer__right
            .footer__right-content
                p.footer__right-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
                span.footer__right-signatere — Martin Golding
    .footer__bottom
        span.footer__bottom-signature © Омельченко Степан | Создано с любовью в LoftSchool | 2018