mixin hero(heroArrowType, headerType)
    section.hero
        div.hero__inner
            header.hero__header
                div.hero__socials
                    include socials
                div.hero__menu
                    include hamburger
            if headerType == "blog"
                svg.hero__svg.hero__svg--blog
                    use(xlink:href="img/sprites/sprite.svg#blog_header")
            else
                svg.hero__svg
                    use(xlink:href="img/sprites/sprite.svg#portfolio_header")
            div.hero__container                
                include info
                +info(headerType)
            div(class=`${heroArrowType}`)
                a.hero__next-link(href="#" id="btn-movedown")
                    svg.hero__next-svg(width="26" height="16")
                        use(xlink:href="img/sprites/sprite.svg#arrow_down")