nav.navigation
    ul.navigation__list
        li.navigation__item
            a.navigation__link(href="works") Мои работы
        li.navigation__item
            a.navigation__link(href="about") Обо мне
        li.navigation__item
            a.navigation__link(href="blog") Блог
        li.navigation__item
            a.navigation__link(href="index") Авторизация