.authorization-btn{
    width: 180px;
    height: 45px;
    border: 1px groove $white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'robotomedium', Arial, Helvetica, sans-serif;
    transition: background-color .3s;

    &:hover{
        background-color: $btnsHover;
    }

}