.diagrams{


    &__circle-in{
        stroke: #dfdcd5;
        stroke-width: 15;
        fill: none;
    }

    &__circle-out{
        transform-origin: center;
        transform: rotate(-90deg);
        stroke: #6c9c5a;
        stroke-width: 15;
        stroke-dasharray: .0010 282.6;
        fill: none;
        transition: 2s;

        &--active{
            stroke-dasharray: 188.3821716308594 282.6;
        }
    }

}
        

