.form{
    position: relative;
    width: 380px;
    border-radius: 5px;
    padding-top: 30px;
    z-index: 0;

    @include horizontal{
        width: 350px;
    }

    @include phones{
        width: 100%;
    }

    &__blur{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(218, 219, 214, .6);
        filter: blur(2px);
        z-index: -1;
    }

    &__inner{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
    }

    &__header{
        position: relative;
        margin-bottom: 60px;
        text-transform: uppercase;
        text-align: center;
        font-family: "sansus_webissimoregular", Arial, Helvetica, sans-serif;
        font-size: 35px;
        font-weight: 400;
        color: #566358;

        @include horizontal{
            margin-bottom: 35px;
        }

        @include phones{
            font-size: 21px;
        }

        &:after{
            content: "";
            display: block;
            position: absolute;
            width: 30%;
            height: 3px;
            background-color: #566358;
            bottom: -26px;
            left: 50%;
            transform: translateX(-50%);

            @include horizontal{
                bottom: -15px;
            }
        }
    }

    &__label,
    &__textarea{
        width: 90%;
        margin-bottom: 20px;
    }

    &__input,
    &__textarea{
        outline: none;
        border: none;
        border-radius: 20px;
        padding: 15px 20px;
        color: #5d5a55;
    }

    &__input{
        width: 100%;
        height: 45px;
    }

    &__textarea{
        height: 140px;
    }

    &__controls{
        width: 100%;
        height: 45px;
        display: flex;
    }

    &__submit-label,
    &__reset-label{
        display: inline-block;
        width: 50%;
        height: 100%;
        background-color: #6c9c5a;
        transition: background-color .3s;
        cursor: pointer;
        text-align: center;

        &:hover{
            background-color: #4e8839;
        }
    }

    &__reset,
    &__submit{
        display: none;
    }

    &__submit-span,
    &__reset-span{
        color: $white;
        line-height: 45px;
    }
}