.info{
    text-align: center;
    width: 100%;
    
    &__wrapper{
        display: inline-block;
        width: 141px;
        height: 141px;
        border-radius: 50%;
        background-image: url("../img/content/foto.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__content{        
        margin-top: 24px;
    }

    &__content--welcome{
        margin-top: 14px;
    }

    &__content--blog{
        margin-top: 14px;
    }
    
    &__header{
        width: 100%;
        display: inline-block;
        font-family: 'robotomedium', Arial, Helvetica, sans-serif;
        font-size: 35px;
        font-weight: 500;
        line-height: 28px;

        @include phones{
            font-size: 21px;
        }
    }

    &__header--welcome{
        font-size: 28px;

        @include phones{
            font-size: 21px;
        }
    }
    
    &__subscribe{
        margin-top: 9px;
        opacity: .8;
    }

    &__blog-title{
        position: relative;
        margin-bottom: 45px;
        font-family: "sansus_webissimoregular", Arial, Helvetica, sans-serif;
        font-size: 63px;       
        color: $white;
        text-transform: uppercase;

        @include tablets{
            font-size: 49px;
            margin-bottom: 30px;
        }

        @include phones{
            font-size: 35px;
        }

        &:after{
            content: "";
            display: block;
            position: absolute;
            width: 90px;
            height: 3px;
            background-color: $white;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);

            @include tablets{
                bottom: -15px;
            }
        }
    }
}
