.slider{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &__item{
        width: 50%;

        @include horizontal{
            width: 100%;
        }
    }

    &__title{
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ebefe2;
        overflow: hidden;

        @include horizontal{
            flex-basis: 25%;
        }

        @include phones{
            flex-basis: 45%;
        }
    }

    &__title-box{
        width: 320px;
        text-align: center;

        @include horizontal{
            width: 100%;
        }
    }

    &__title-info{
        margin-bottom: 60px;

        @include horizontal{
            margin-bottom: 40px;
        }

        @include min-height{
            margin-bottom: 20px;
        }

        @include phones{
            margin-bottom: 17px;
        }
    }

    &__title-header{
        font-family: "sansus_webissimoregular", Arial, Helvetica, sans-serif;
        font-size: 35px;
        font-weight: 400;
        text-align: center;
        position: relative;
        margin-bottom: 50px;
        text-transform: uppercase;
        line-height: 28px;

        @include horizontal{
            font-size: 30px;
            margin-bottom: 30px;
        }

        @include phones{
            font-size: 21px;
        }

        @include min-height{
            margin-bottom: 20px;
        }

        &:after{
            content: "";
            display: block;
            position: absolute;
            width: 60px;
            height: 3px;
            background-color: #566358;
            bottom: -26px;
            left: 50%;
            transform: translateX(-50%);

            @include horizontal{
                bottom: -15px;
            }
        }
    }

    &__title-text{
        text-transform: uppercase;
        color: #4e8839;
        font-weight: 500;
        text-align: center;
    }

    &__title-btn{
        width: 200px;
        height: 45px;
        background-color: #6c9c5a;
        text-align: center;
        border-radius: 20px;
        overflow: hidden;

        @include phones{
            width: 185px;
            height: 40px;
        }
    }

    &__title-svg{
        fill: $white;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }

    &__title-span{
        color: $white;
        line-height: 45px;            
        vertical-align: middle;
    }
    

    &__current,
    &__controls{
        background-color: #e1e4d7;
    }

    &__current{
        flex-basis: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: .3s;
       
        @include horizontal{
            order: -1;
            flex-basis: 50%;
        }

        @include phones{
            flex-basis: 45%;
        }
    }

    &__current-box{
        width: 90%;
        height: 90%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    

    &__controls{
        flex-basis: 30%;
        display: flex;

        @include horizontal{
            flex-basis: 25%;
        }

        @include phones{
            flex-basis: 10%;
        }
    }

    &__down,
    &__up{
        position: relative;
        width: 50%;
        height: 100%;
        background-color: #e3ded0;
        /* background-size: cover;
        background-repeat: no-repeat;
        background-position: center; */
        
        &:before{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(176, 183, 170, 0.7);
        }

        &-btn{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
            z-index: 10;
        }

        &-svg{
            fill: $white;
            transition: transform .2s; 
        }

        &:hover &-svg{
            transform: scale(1.2);
        }

    }

    &__up{

        &:before{
            background-color: rgba(147, 153, 141, 0.7);
        }
    }

    &__link{
        position: relative;
        overflow: hidden;
    }

    &__link-list{
        position: absolute;
        top: -100%;
        width: 100%;
        height: 100%;
        list-style: none;
    }
      
    &__link-item{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        will-change: transform;
    }
}