.traingles{
    width: 100%;
    display: block;

    &--works{        
        fill: #f8f9f5;
    }

    &--about .traingles__left{
        fill: #ebefe2;
    }

    &--about .traingles__right{
        fill: #f4f5f0;

        @include horizontal{
            fill: #ebefe2;
        }
    }

    &--blog{
        fill: #faf8f0;
    }
}