.pantry__circle(hidden)
    svg.diagrams(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="110" height="110" viewBox="0 0 110 110"  id="diagram-circle" )
        circle.diagrams__circle-in(r="45" cy="50%" cx="50%" fill="none")
        circle.diagrams__circle-out(r="45" cy="50%" cx="50%" fill="none")
