div.socials
    ul.socials__list
        li.socials__item
            a.socials__link(href="https://vk.com/oceanofnoise" target="_blank")
                svg.socials__svg(fill="none")
                    use(xlink:href="#vk")
        li.socials__item
            a.socials__link(href="https://github.com/StepanOmelchenko" target="_blank")
                svg.socials__svg(fill="none")
                    use(xlink:href="#git")
        li.socials__item
            a.socials__link(href="#")
                svg.socials__svg(fill="none")
                    use(xlink:href="#in")