mixin traingle(className)
    svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class=`traingles ${className}` preserveaspectratio="none" viewbox="0 0 1000 85")
        polygon(class="traingles__left" points="0,0 0,86 501,86 501,76")
        polygon(class="traingles__right" points="1000,0 1000,86 500,86 500,76")