extends ../template 

block varibles
    -var title="About me"
block content
    include ../common/preloader.pug
    .wrapper
        section.section.about__hero
            include ../common/hero
            +hero("hero__next", "common")
        section.about__main
            .about__traingles
                include ../common/traingle.pug                
                +traingle("traingles--about")
            .about__content
                .about__content-left
                    .about__header
                        svg.about__header-svg
                            use(xlink:href="img/sprites/sprite.svg#about_header")
                        h2.about__header-h2 Обо&nbsp;мне
                    .about__information
                        .about__information-picture(style="background-image: url('img/content/dude.jpg')")
                            img.about__information-img(src="img/content/dude.jpg", alt="web developer" hidden)
                        .about__information-content
                            h3.about__information-header Кто я
                            article.about__information-text
                                p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                .about__content-right
                    .about__profit
                        h3.about__profit-header Чем я могу быть вам полезен
                        p.about__profit-text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
                    .about__diagrams
                        if (skills)
                            ul.about__diagrams-content(id="diagrams-list")
                                each row in skills                                  
                                    li.about__diagrams-row
                                        h3.about__diagrams-header= row[0].type
                                        ul.about__diagrams-list
                                            each skill in row
                                                li.about__diagrams-item
                                                    .about__diagrams-title= skill.name
                                                    svg(class="about__diagrams-svg" viewBox='0 0 110 110')
                                                        circle(r="45" cx="50%" cy="50%" fill="none" class="diagrams__circle-in")
                                                        circle(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" class="diagrams__circle-out about__diagrams-circle" data-fill-class=`circle--${skill.percents}`)
                        else
                            ul.about__diagrams-content(id="diagrams-list")
                                li.about__diagrams-row
                                    h3.about__diagrams-header Frontend
                                    ul.about__diagrams-list
                                        li.about__diagrams-item
                                            svg.about__diagrams-svg(width="110" height="110")
                                                use(xlink:href="#diagram-circle")
                                            span.about__diagrams-title HTML5
                                        li.about__diagrams-item
                                            svg.about__diagrams-svg(width="110" height="110")
                                                use(xlink:href="#diagram-circle")
                                            span.about__diagrams-title CSS3
                                        li.about__diagrams-item
                                            svg.about__diagrams-svg(width="110" height="110")
                                                use(xlink:href="#diagram-circle")
                                            span.about__diagrams-title JavaScript
                                li.about__diagrams-row
                                    h3.about__diagrams-header Backend
                                    ul.about__diagrams-list
                                        li.about__diagrams-item
                                            svg.about__diagrams-svg(width="110" height="110")
                                                use(xlink:href="#diagram-circle")
                                            span.about__diagrams-title PHP
                                        li.about__diagrams-item
                                            svg.about__diagrams-svg(width="110" height="110")
                                                use(xlink:href="#diagram-circle")
                                            span.about__diagrams-title mySQL
                                        li.about__diagrams-item
                                            svg.about__diagrams-svg(width="110" height="110")
                                                use(xlink:href="#diagram-circle")
                                            span.about__diagrams-title Node.js & npm
                                        li.about__diagrams-item
                                            svg.about__diagrams-svg(width="110" height="110")
                                                use(xlink:href="#diagram-circle")
                                            span.about__diagrams-title Mongo.db
                                li.about__diagrams-row
                                    h3.about__diagrams-header WorkFlow
                                    ul.about__diagrams-list
                                        li.about__diagrams-item
                                            svg.about__diagrams-svg(width="110" height="110")
                                                use(xlink:href="#diagram-circle")
                                            span.about__diagrams-title Git
                                        li.about__diagrams-item
                                            svg.about__diagrams-svg(width="110" height="110")
                                                use(xlink:href="#diagram-circle")
                                            span.about__diagrams-title Gulp
                                        li.about__diagrams-item
                                            svg.about__diagrams-svg(width="110" height="110")
                                                use(xlink:href="#diagram-circle")
                                            span.about__diagrams-title Bower
        section.section.about__map(id="map")
            .about__map-box
                h2.about__map-header Контакты
                ul.about__map-list
                    li.about__map-item
                        svg.about__map-svg(width="24" height="24")
                            use(xlink:href="img/sprites/sprite.svg#skype")
                        a.about__map-link(href="skype:skype_kdn?call") skype_kdn
                    li.about__map-item
                        svg.about__map-svg(width="23" height="16")
                            use(xlink:href="img/sprites/sprite.svg#envelope2")
                        a.about__map-link(href="mailto:astahov@gmail.com") astahov@gmail.com
                    li.about__map-item
                        svg.about__map-svg(width="17" height="20")
                            use(xlink:href="img/sprites/sprite.svg#phone2")
                        a.about__map-link(href="tel:+79312009324") +7 931 200 93 24
                    li.about__map-item
                        svg.about__map-svg(width="16" height="21")
                            use(xlink:href="img/sprites/sprite.svg#map_marker")
                        a.about__map-link(href="") Новосибирск, ул. Инская, д.14
        footer.about__footer
            include ../common/footer
        include ../common/pantry-socials.pug
        include ../common/pantry-circles.pug
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")