extends ../template

block varibles
    -var title="Welcome Page"
block content
    include ../common/preloader.pug
    section.welcome.section
        canvas.welcome__canvas
        .welcome__inner
            .welcome__container
                header.welcome__header
                    a.welcome__header-link.authorization-btn(href="#" id="autr-btn") Авторизаваться
                .welcome__box
                    .welcome__flipper-container
                        .welcome__flipper(id="flipper")
                            .welcome__hero
                                .welcome__content
                                    .welcome__info
                                        include ../common/info.pug
                                        +info("welcome")
                                    .welcome__content-socials.socials
                                        include ../common/socials.pug
                                nav.welcome__navigation
                                    ul.welcome__navigation-list
                                        li.welcome__navigation-item
                                            a.welcome__navigation-link(href="works") Мои работы
                                        li.welcome__navigation-item
                                            a.welcome__navigation-link(href="about") Обо мне
                                        li.welcome__navigation-item
                                            a.welcome__navigation-link(href="blog") Блог
                            .welcome__autorization
                                form.login(id="login" method="POST" action="/login")
                                    h2.login__header Авторизуйтесь
                                    label.login__label(for="login")
                                        input.login__input(type="text" name="login" placeholder="Имя" required)
                                    label.login__label(for="pass")
                                        input.login__input(type="password" name="password" placeholder="Пароль" required)
                                    label.login__checkbox
                                        input.login__check(type="checkbox" name="ishuman" value="true")
                                        span.login__check-img
                                        span.login__check-span Я человек
                                    p.login__text Вы точно не робот?
                                    .login__radios
                                        label.login__radios-label
                                            input.login__radio(type="radio" name="notabot" value="yes")
                                            span.login__radio-img
                                            span.login__radio-span ДА
                                        label.login__radios-label
                                            input.login__radio(type="radio" name="notabot" value="no" checked)
                                            span.login__radio-img
                                            span.login__radio-span Не уверен 
                                    .login__controls
                                        label.login__back-label
                                            span.login__back-span(id="login-return") На главную
                                            input.login__back(type="button")
                                        label.login__submit-label 
                                            span.login__submit-span Войти
                                            input.login__submit(type="submit")
                footer.welcome__footer
                    p.welcome__footer-signature © Омельченко Степан | создано с любовью в LoftSchool | 2018
    include ../common/pantry-socials.pug
                    