extends ../main.layout.pug

block content
  include ../common/_header
  include ../common/_menu
  section.about
    .container.about__container
      .about__photo
        .about__photo-wrap
          img(src="images/avatar.png", alt="").about__photo-pic
        .about__name Архипов Александр
      .about__desc
        p  Меня зовут Саша. Проживаю в центре Занзибара в городе Левое ухо шамана, с появлением интернета, с головой увлёкся этой темой, и теперь уже почти живу Он-Лайн. С недавних пор (уже года два), это уже не просто увлечение, но и нормальный заработок для меня и моей семьи, на этом конечно не собираюсь останавливаться, а буду стараться добиться ещё больших результатов! Интернет сообщество очень интересно и многогранно , почти каждый день появляется что то новое и хочется всё это изучить, внедрить и проверить на себе , многое получается, и со временем приносит свои плоды.
  section.contacts
    .container
      form.form#mail(action='/mail' method="POST" enctype="application/x-www-form-urlencoded")
          .form__subtitle Связаться со мной
          if (msg)
            .status= msg
          label.form__input-line
              input(name="name" type="text" placeholder="Имя").form__input
          label.form__input-line
              input(name="email" type="email" placeholder="E-mail").form__input
          textarea(placeholder="Ваше сообщение" name="text").form__textarea
          .form__btns.form__input-line
              input(name="" type="submit" value="Отправить").form__btn-send
              input(name="" type="reset" value="Очистить").form__btn-reset